# https://hexo.io/docs/github-pages.html
name: Pages

on:
  push:
    branches:
      - main 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          submodules: recursive
      - name: Use Node.js 22.x
        uses: actions/setup-node@v4
        with:
          node-version: '22'
      - name: Install Dependencies
        run: |
          yarn global add hexo-cli
          yarn install --frozen-lockfile
      - name: Build
        run: |
          yarn run clean
          yarn run build
      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./public
  deploy:
    needs: build
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4